@media(max-width:1000px) {
    .main-box {
        width: 75%;
    }
}

@media(max-width:750px) {
    .main-title {
        font-size: 40px;
        width: 75%;
    }

    .main-box {
        width: 90%;
        gap: 10px;
    }

    .weather-info {
        justify-content: space-evenly;
        gap: 15px;
    }

    .humidity-box,
    .pressure-box,
    .wind-box {
        flex-direction: column;
    }

    .weather-title h1 {
        font-size: 50px;
    }

    .weather-info p {
        font-size: 17px;
    }
}

@media(max-width:600px) {
    .main-title {
        font-size: 35px;
        width: 80%;
    }

    .main-box {
        width: 95%;
        margin-top: 130px;
        margin-bottom: 40px;
    }

    .search-box input {

        font-size: 17px;
    }

    .search-box button {
        font-size: 13px;
    }

    .weather-title h1 {
        font-size: 45px;
    }

    .submitionError::placeholder {
        font-size: 15px;
    }
}

@media(max-width:420px) {
    .main-title {
        font-size: 30px;
        width: 85%;
    }

    .search-box input {
        width: 70%;
        font-size: 15px;
        padding: 8px 10px;
    }

    .search-box button {
        font-size: 12px;
        padding: 10px 15px;
    }

    .weather-title img {
        width: 120px;
    }

    .weather-title h1 {
        font-size: 35px;
    }

    .weather-title h2 {
        font-size: 28px;
    }

    .weather-info img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    .weather-info p {
        font-size: 15px;
    }

    .weather-info {
        margin-bottom: 15px;
    }

    .submitionError::placeholder {
        font-size: 11px;
    }
}